---
layout: default
---

<div class="myprojects">
	<h2>My Opensource projects:</h2>
	<div class="project odd">
		<div>
			<img src="{{ site.baseurl }}/images/PhysalisWorkspace.png" class="img-circle">
			 <p>Physalis Build Cloud:
			 <span>A build cloud for Apache Cordova (TM) projects</span>			 
			 </p> 
		</div>
	</div>
	<div class="project even">
		<div>
			<img src="{{ site.baseurl }}/images/GreenMahjongProject.jpg" class="img-circle">
			 <p>Green Mahjong:
			 <span>A HTML5 based solitaire mahjong game</span>			 
		</div>
	</div>
	<div class="clear"></div>
</div>

<hr>

<h2>Blog entries</h2>
<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

       <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

     <!--  <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More >> </a>
 -->
<!--       <p><a class="postTitle" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>        -->


       <div class="entry">
        {{ post.excerpt }}

	     <a href="{{ site.baseurl }}{{ post.url }}" >Continue reading</a>
      </div>

    </article>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Read older posts</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
